button {
  font-size: 40px;
}
[aria-pressed] {
    position: relative;
    top: -0.25rem;
    left: -0.25rem;
}
[aria-pressed]:focus, button:disabled {
    outline: 2px solid transparent;
    box-shadow: 0 0 0 0.25rem skyblue;
}
[aria-pressed='true']:focus {
    box-shadow: 0 0 0 0.25rem skyblue, inset 0 0 0 0.15rem #000, inset 0.25em 0.25em 0 #fff;
}